{% load static %}
<!DOCTYPE html>
<html dir = "rtl"lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vesperr Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
{% block content %}
  <!-- ======= Header ======= -->
  
              <!-- General Form Elements -->
  <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4  col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                </a>
              </div><!-- End Logo -->

              <div class="shadow card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">آپلود فایل وتنظیم ایمیل  

                    </h5>
                    <p class="text-center small"></p>
                  </div>

              <form method="post" enctype="multipart/form-data" class="row g-3 needs-validation" >
                {% csrf_token %}
                <div class="row mb-3">
                  <label for="email_ow" class="col-sm-2 col-form-label">ایمیل:</label>
                  <div class="col-sm-10">
                    <input type="email" name="email_ow" class="form-control" id="email_ow" required>
                      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                  </div>
                </div>
                
                
                <div class="row mb-3">
                  <label for="password_em" class="col-sm-2 col-form-label">رمز ایمیل:</label>
                  <div class="col-sm-10">
                    <input type="password" name="password_em" class="form-control" id="password_em" required>

                    
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="message" class="col-sm-2 col-form-label">پیامی ارسالی</label>
                  <div class="col-sm-10">
                    <input type="text" name="message" class="form-control" id="message" required>
                    
                  </div>
                </div>
                
                <div class="row mb-3">
                  <label for="file" class="col-sm-2 col-form-label">فایل csv</label>
                  <div class="col-sm-10">
                    <input type="file" name="file" class="form-control" id="file" required>
                  </div>
                </div>
                
                

                
                  
                <div class="row mb-3">
                  
                  <div class="container  col-sm-10">
                    <button type="submit" class="container btn btn-primary">ارسال اطلاعات</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

  
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>

  
</div>
  </main><!-- End #main -->
<!-- End #main -->
{% endblock %}
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script src="{% static 'assets/js/main.js' %}"></script>
<!-- Vendor JS Files -->

  <!-- product/pages-register.html -->

  
  <script>
    $(document).ready(function () {
        
        $('form').on('submit', function (e) {
            e.preventDefault(); 

           
            var formData = new FormData(this);
            
            
            $.ajax({
                  url: '/upload/',
                  type: 'POST',
                  contentType: 'application/json',
                  data: JSON.stringify({
                      csrfmiddlewaretoken: 'XS0cvYaSCrCWBKk8CKDJWb6g4rkHczWK40xvK4QVIdYl9KUoinXrFfEmTB5lMRg1',
                      email_ow: "hasanvand296@gmail.com",
                      password_em: "ktuuktktuk",
                      message: "uketuyketykyegyukety",
                      file: "/csv_files/test_eR7dFQW.csv",
                      
                  }),
            success: function (response) {
              console.log('موفقیت‌آمیز!', response);
                  },
                  error: function (error) {
              console.error('خطا!', error);
                  }
});

                    
               
  </script>


</body>

</html>