{% extends "product/index.html" %}

{% load static %}

<!DOCTYPE html>
<html dir = "rtl"lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ثبت نام</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  {% block content %}
  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div  class="col-lg-4  col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">   </span>
                </a>
              </div><!-- End Logo -->

              <div class="shadow card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">ثبت نام 

                    </h5>
                    <p class="text-center small">اطلاعات خود را وارد کنید </p>
                  </div>

                  <form method="post" class="row g-3 needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="col-12">
                      <label for="yourName" class="form-label">نام:</label>
                      <input type="text" name="name" class="form-control" id="yourName" required>
                      <div class="invalid-feedback">لطفا نام خود را وارد کنید (ترجیحا انگلیسی)</div>
                    </div>
                    
                    <div class="col-12">
                      <label for="email" class="form-label">ایمیل :</label>
                      <input type="text" name="email" class="form-control" id="email" required>
                      <div class="invalid-feedback">لطفا ایمیل خود را وارد کنید </div>
                    </div>
                    <div class="col-12">
                      <label for="national_code" class="form-label">کد ملی :</label>
                      <input type="text" name="national_code" class="form-control" id="national_code" required>
                      <div class="invalid-feedback">لطفا کد ملی خود را وارد کنید </div>
                    </div>
                    <div class="col-12">
                      <label for="phoneNumber" class="form-label">شماره موبایل :</label>
                      <div class="input-group has-validation">
                        
                        <input type="text" name="phoneNumber" class="form-control" id="phoneNumber" required>
                        <div class="invalid-feedback">لطفا شماره موبایل خود را وارد کنید </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="password" class="form-label">پسورد </label>
                      <input type="text" name="password" class="form-control" id="password" required>
                      <div class="invalid-feedback">لطفا پسورد خود را وارد کنید </div>
                    </div>

                    
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit"formnovalidate>ثبت نام</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">آیا اکانت دارید ? <a href="{% url 'login' %}">ورود</a></p>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

      
    </div>
  </main><!-- End #main -->
  {% endblock %}
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <script src="{% static 'assets/js/main.js' %}"></script>
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.querySelector('.needs-validation');
    
        form.addEventListener('submit', function(event) {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
    
            form.classList.add('was-validated');
        });
    
        // افزودن اعتبارسنجی به فیلد شماره موبایل
        var phoneNumberField = document.getElementById('phoneNumber');
        phoneNumberField.addEventListener('input', function() {
            var phoneNumberRegex = /^09\d{9}$/; // یک الگوی ساده برای شماره موبایل ایرانی
    
            if (!phoneNumberRegex.test(phoneNumberField.value)) {
                phoneNumberField.setCustomValidity('لطفا یک شماره موبایل معتبر وارد کنید.');
            } else {
                phoneNumberField.setCustomValidity('');
            }
        });
    
        // افزودن اعتبارسنجی به فیلد ایمیل
        var emailField = document.getElementById('email');
        emailField.addEventListener('input', function() {
            var emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
    
            if (!emailRegex.test(emailField.value)) {
                emailField.setCustomValidity('لطفا یک ایمیل معتبر وارد کنید.');
            } else {
                emailField.setCustomValidity('');
            }
        });
    });
    </script>

</body>

</html>